@import "tailwindcss";

/* تخصيص السكروول بالكامل */
::-webkit-scrollbar {
  width: 8px; /* عرض السكروول */
  height: 8px; /* للـ horizontal scroll */
}

/* خلفية السكروول */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}
/* الجزء القابل للسحب */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2EB6EE, #2EB6EE);
  border-radius: 10px;
}

/* لما المستخدم يضغط على السكروول */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2EB6EE, #2EB6EE);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Root styles */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Great Vibes font (default) */
  --font-great: "Great Vibes", cursive;
  font-family: var(--font-great);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tailwind theme override (optional) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Body default styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-great);
}

/* Optional custom class for another font */
.ping-bold {
  font-family: var(--font-ping-bold);
}
